################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/Debug
/EyePointProvider/x64/Debug
/out
/TrackerSim/x64/Debug
/VIOSOWarpBlend/x64/Debug
/EyePointProvider/EyePointProvider.vcxproj.user
/TrackerSim/TrackerSim.vcxproj.user
/VIOSOWarpBlend/VIOSOWarpBlend.vcxproj.user
/Examples/DirectX11/x64/Debug
/Examples/DirectX12/obj/x64/Debug
/Examples/OpenGL_4/x64/Debug
/Examples/OpenGL_4/OpenGL_3.2.vcxproj.user
/Examples/DirectX9_render/x64/Debug
/Examples/OpenGL_4/VIOSOWarpBlend.log
/Examples/DirectX9Ex/Debug/DirectX9.9D0BEE81.tlog
/Examples/DirectX9Ex/Debug
/Examples/DirectX9/Debug
/Examples/DirectX11/DX11Example.vcxproj.user
/Examples/DirectX12/D3D12HelloTexture.vcxproj.user
/Examples/DirectX9Ex/DirectX9ExExample.vcxproj.user
/data/vioso2d.vwf
/data/vioso3D.vwf
/EyePointProvider/Debug
/TrackerSim/Debug/TrackerSim.tlog
/TrackerSim/Debug
/Examples/DirectX9/DirectX9Example.vcxproj.user
/Examples/DirectX9_render/Debug/DirectX9Example2.tlog
/Examples/DirectX9_render/Debug
/Examples/DirectX9_render/Matrices_2010.vcxproj.user
/Examples/OpenGL_4/Debug/OpenGLExample.tlog
/Examples/OpenGL_4/Debug
/VIOSOWarpBlend/Debug/VIOSOWarpBlend.tlog
/VIOSOWarpBlend/Debug
/.idea/.name
/cmake-build-debug/CMakeFiles/Progress/1
/cmake-build-debug/CMakeFiles/Progress/3
/cmake-build-debug/CMakeFiles/Progress/4
/cmake-build-debug/CMakeFiles/Progress/5
/cmake-build-debug/CMakeFiles/Progress/6
/build/CMakeFiles/Progress/7
/cmake-build-debug/CMakeFiles/Progress/7
/cmake-build-debug/CMakeFiles/Progress/8
/cmake-build-debug/CMakeFiles/Progress/9
/cmake-build-debug/CMakeFiles/Progress/10
/cmake-build-debug/CMakeFiles/Progress/11
/cmake-build-debug/CMakeFiles/Progress/12
/cmake-build-debug/CMakeFiles/Progress/13
/cmake-build-debug/CMakeFiles/Progress/14
/cmake-build-debug/CMakeFiles/Progress/15
/build/CMakeFiles/3.16.3/CompilerIdC/a.out
/build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/a.out
/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/a.out
/build/CMakeFiles/VIOSOWarpBlend.dir/build.make
/build/Examples/OpenGL_4/CMakeFiles/Example_OpenGL_4.dir/build.make
/build/EyePointProvider/CMakeFiles/EyePointProvider.dir/build.make
/cmake-build-debug/CMakeFiles/VIOSOWarpBlend.dir/build.make
/cmake-build-debug/Examples/OpenGL_4/CMakeFiles/Example_OpenGL_4.dir/build.make
/cmake-build-debug/EyePointProvider/CMakeFiles/EyePointProvider.dir/build.make
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/build/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/cmake.check_cache
/build/CMakeFiles/VIOSOWarpBlend.dir/cmake_clean.cmake
/build/Examples/OpenGL_4/CMakeFiles/Example_OpenGL_4.dir/cmake_clean.cmake
/build/EyePointProvider/CMakeFiles/EyePointProvider.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/VIOSOWarpBlend.dir/cmake_clean.cmake
/cmake-build-debug/Examples/OpenGL_4/CMakeFiles/Example_OpenGL_4.dir/cmake_clean.cmake
/cmake-build-debug/EyePointProvider/CMakeFiles/EyePointProvider.dir/cmake_clean.cmake
/build/Examples/OpenGL_4/cmake_install.cmake
/build/Examples/cmake_install.cmake
/build/EyePointProvider/cmake_install.cmake
/build/cmake_install.cmake
/cmake-build-debug/Examples/OpenGL_4/cmake_install.cmake
/cmake-build-debug/Examples/cmake_install.cmake
/cmake-build-debug/EyePointProvider/cmake_install.cmake
/cmake-build-debug/cmake_install.cmake
/build/CMakeCache.txt
/cmake-build-debug/CMakeCache.txt
/build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.16.5/CMakeCCompiler.cmake
/build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/CMakeCCompilerId.c
/build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.16.5/CMakeCXXCompiler.cmake
/build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
/build/EyePointProvider/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/Examples/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/Examples/OpenGL_4/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/EyePointProvider/CMakeFiles/CMakeDirectoryInformation.cmake
/build/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/build/CMakeFiles/3.16.3/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/3.16.5/CMakeSystem.cmake
/build/CMakeFiles/Progress/count.txt
/cmake-build-debug/CMakeFiles/Progress/count.txt
/build/CMakeFiles/VIOSOWarpBlend.dir/CXX.includecache
/cmake-build-debug/CMakeFiles/VIOSOWarpBlend.dir/CXX.includecache
/cmake-build-debug/Examples/OpenGL_4/CMakeFiles/Example_OpenGL_4.dir/CXX.includecache
/cmake-build-debug/EyePointProvider/CMakeFiles/EyePointProvider.dir/CXX.includecache
/build/CMakeFiles/VIOSOWarpBlend.dir/depend.internal
/cmake-build-debug/CMakeFiles/VIOSOWarpBlend.dir/depend.internal
/cmake-build-debug/Examples/OpenGL_4/CMakeFiles/Example_OpenGL_4.dir/depend.internal
/cmake-build-debug/EyePointProvider/CMakeFiles/EyePointProvider.dir/depend.internal
/build/CMakeFiles/VIOSOWarpBlend.dir/depend.make
/build/Examples/OpenGL_4/CMakeFiles/Example_OpenGL_4.dir/depend.make
/build/EyePointProvider/CMakeFiles/EyePointProvider.dir/depend.make
/cmake-build-debug/CMakeFiles/VIOSOWarpBlend.dir/depend.make
/cmake-build-debug/Examples/OpenGL_4/CMakeFiles/Example_OpenGL_4.dir/depend.make
/cmake-build-debug/EyePointProvider/CMakeFiles/EyePointProvider.dir/depend.make
/build/CMakeFiles/VIOSOWarpBlend.dir/DependInfo.cmake
/build/Examples/OpenGL_4/CMakeFiles/Example_OpenGL_4.dir/DependInfo.cmake
/build/EyePointProvider/CMakeFiles/EyePointProvider.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/VIOSOWarpBlend.dir/DependInfo.cmake
/cmake-build-debug/Examples/OpenGL_4/CMakeFiles/Example_OpenGL_4.dir/DependInfo.cmake
/cmake-build-debug/EyePointProvider/CMakeFiles/EyePointProvider.dir/DependInfo.cmake
/cmake-build-debug/Examples/OpenGL_4/Example_OpenGL_4.cbp
/cmake-build-debug/Examples/Examples.cbp
/cmake-build-debug/EyePointProvider/EyePointProvider.cbp
/cmake-build-debug/EyePointProvider/CMakeFiles/EyePointProvider.dir/src/EyePointProvider.cpp.o
/build/CMakeFiles/VIOSOWarpBlend.dir/flags.make
/build/Examples/OpenGL_4/CMakeFiles/Example_OpenGL_4.dir/flags.make
/build/EyePointProvider/CMakeFiles/EyePointProvider.dir/flags.make
/cmake-build-debug/CMakeFiles/VIOSOWarpBlend.dir/flags.make
/build/Examples/OpenGL_4/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/Examples/OpenGL_4/CMakeFiles/Example_OpenGL_4.dir/flags.make
/cmake-build-debug/EyePointProvider/CMakeFiles/EyePointProvider.dir/flags.make
/cmake-build-debug/CMakeFiles/VIOSOWarpBlend.dir/VIOSOWarpBlend/GL/GLWarpBlend.cpp.o
/build/CMakeFiles/VIOSOWarpBlend.dir/VIOSOWarpBlend/JASONWrapper.cpp.o
/cmake-build-debug/CMakeFiles/VIOSOWarpBlend.dir/VIOSOWarpBlend/JASONWrapper.cpp.o
/.vscode/launch.json
/cmake-build-debug/EyePointProvider/libEyePointProvider.so
/cmake-build-debug/libVIOSOWarpBlend.so
/build/CMakeFiles/VIOSOWarpBlend.dir/link.txt
/build/Examples/OpenGL_4/CMakeFiles/Example_OpenGL_4.dir/link.txt
/build/EyePointProvider/CMakeFiles/EyePointProvider.dir/link.txt
/cmake-build-debug/CMakeFiles/VIOSOWarpBlend.dir/link.txt
/cmake-build-debug/Examples/OpenGL_4/CMakeFiles/Example_OpenGL_4.dir/link.txt
/cmake-build-debug/EyePointProvider/CMakeFiles/EyePointProvider.dir/link.txt
/cmake-build-debug/CMakeFiles/VIOSOWarpBlend.dir/VIOSOWarpBlend/linux_compat.cpp.o
/build/CMakeFiles/VIOSOWarpBlend.dir/VIOSOWarpBlend/LoadDAE.cpp.o
/cmake-build-debug/CMakeFiles/VIOSOWarpBlend.dir/VIOSOWarpBlend/LoadDAE.cpp.o
/cmake-build-debug/CMakeFiles/VIOSOWarpBlend.dir/VIOSOWarpBlend/logging.cpp.o
/build/Examples/OpenGL_4/Makefile
/build/Examples/Makefile
/build/EyePointProvider/Makefile
/build/Makefile
/cmake-build-debug/Examples/OpenGL_4/Makefile
/cmake-build-debug/Examples/Makefile
/cmake-build-debug/EyePointProvider/Makefile
/cmake-build-debug/Makefile
/build/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile.cmake
/build/CMakeFiles/Makefile2
/cmake-build-debug/CMakeFiles/Makefile2
/.idea/misc.xml
/.idea/modules.xml
/cmake-build-debug/CMakeFiles/VIOSOWarpBlend.dir/VIOSOWarpBlend/Net.cpp.o
/cmake-build-debug/CMakeFiles/VIOSOWarpBlend.dir/VIOSOWarpBlend/PathHelper.cpp.o
/build/CMakeFiles/VIOSOWarpBlend.dir/progress.make
/build/Examples/OpenGL_4/CMakeFiles/Example_OpenGL_4.dir/progress.make
/build/EyePointProvider/CMakeFiles/EyePointProvider.dir/progress.make
/cmake-build-debug/CMakeFiles/VIOSOWarpBlend.dir/progress.make
/cmake-build-debug/Examples/OpenGL_4/CMakeFiles/Example_OpenGL_4.dir/progress.make
/cmake-build-debug/EyePointProvider/CMakeFiles/EyePointProvider.dir/progress.make
/.idea/.gitignore
/cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_C.bin
/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_CXX.bin
/build/CMakeFiles/CMakeDirectoryInformation.cmake
/build/Examples/CMakeFiles/CMakeDirectoryInformation.cmake
/build/CMakeFiles/progress.marks
/build/Examples/CMakeFiles/progress.marks
/build/Examples/OpenGL_4/CMakeFiles/progress.marks
/build/EyePointProvider/CMakeFiles/progress.marks
/cmake-build-debug/CMakeFiles/progress.marks
/cmake-build-debug/Examples/CMakeFiles/progress.marks
/cmake-build-debug/Examples/OpenGL_4/CMakeFiles/progress.marks
/cmake-build-debug/EyePointProvider/CMakeFiles/progress.marks
/.vscode/settings.json
/cmake-build-debug/CMakeFiles/VIOSOWarpBlend.dir/VIOSOWarpBlend/socket.cpp.o
/build/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/.idea/vcs.xml
/.idea/VIOSO_API.iml
/cmake-build-debug/VIOSOWarpBlend.cbp
/cmake-build-debug/CMakeFiles/VIOSOWarpBlend.dir/VIOSOWarpBlend/VIOSOWarpBlend.cpp.o
/cmake-build-debug/CMakeFiles/VIOSOWarpBlend.dir/VIOSOWarpBlend/VWF.cpp.o
